.MainContainer {
    width: 100%;
    margin: auto;
    display: flex;
    gap: 4rem;
}

.ItemListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2rem auto;
}

.MainTitle {
    max-width: 1100px;
    margin: 2rem auto 0 auto;
    text-align: center;
    font-weight: 600;
}

@media screen and (min-width: 1100px) {
    .ItemListContainer {
        padding-bottom: 2rem;
        justify-content: start;
        margin: 2rem 0;
    }

    .MainTitle {
        text-align: left;
    }
}