.NavBar_categories {
  display: flex;
  flex-direction: column;
}

.NavBar_categories__baloon {
  padding: .8rem 0 0 .3rem;
}

.NavBar_categories__baloon {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.NavBar_categories__baloon a {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
}

@media screen and (min-width: 1100px) {
  .NavBar_categories {
    position: absolute;
    top: 0;
    margin-top: 135px;
  }

  .NavBar_categories__baloon {
    position: relative;
    background: var(--light-color);
    padding: 1rem;
    border-radius: 10px;
    border: var(--primary-color) 1px solid;
  }

  .NavBar_categories::before {
    content: "";
    display: inline;
    position: absolute;
    z-index: 9999999;
    top: -18px;
    left: 45%;
    border-right: 7px solid transparent;
    border-top: 10px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 10px solid var(--light-color);
  }
}











/* 
.NavBar_categories {
    display: flex;
    flex-direction: column;
    padding: 0.8rem 0 0 0.8rem;
    gap: 1.1rem;
  }
  .NavBar_categories > div {
    display: none;
  }
  
  .NavBar__categoriesDropdown {
    font-size: 1.3rem;
  }
  .NavBar_categories > a {
    text-decoration: none;
    color: #000;
  }
  
  @media screen and (min-width: 1100px) {
    .NavBar_categories {
      display: inline;
      position: absolute;
      margin-top: 370px;
      cursor: pointer;
    }
    .NavBar_categories > a p {
      padding: 1rem;
      background: var(--light-color);
      border-left: var(--primary-color) solid 1px;
      border-right: var(--primary-color) solid 1px;
      color: #000;
      cursor: pointer;
    }
    .NavBar_categories:first-of-type {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .NavBar_categories:last-of-type {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-bottom: var(--primary-color) solid 1px;
      box-shadow: none;
    }
    .NavBar_categories > div {
      display: flex;
      width: 0;
      z-index: 99999;
      margin: auto;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid var(--light-color);
    }
  }
   */