.SearchBar {
    display: none;
}

@media  screen and (min-width: 1100px) {
    .SearchBar {
        display: flex;
        border: #6C2F9A 1px solid;
        border-radius: .4rem;
        padding: .5rem;
        width: 600px;
    }
    .SearchBar>input {
        width: 550px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1.2rem;
    }
    .SearchBar>input::placeholder {
        font-size: 1.2rem;
    }
    .SearchBar>input::active {
        border: none;
    }
    .SearchBar>button {
        padding: .2rem;
        font-size: 1.2rem;
        background: transparent;
        border:none;
    }
    .SearchBar>button:hover {
        color: #6C2F9A;
        transform: scale(1.1);
    }
}