.NewsletterAdd {
    background: var(--dark-color);
    color: var(--lighter-color);
    padding: 1rem 0;
}

.NewsletterAdd__content {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 1rem;
}

.NewsletterAdd__content__bar {
    background: var(--lighter-color);
    width: 280px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    padding: .2rem;
}

.NewsletterAdd__content__input {
    outline: none;
    border: none;
    background: inherit;
    padding: 0 .5rem;
    width: 70%;
}

.NewsletterAdd__content__bar>button {
    background: var(--dark-color);
    color: var(--lighter-color);
    border-radius: 4px;
    border: none;
    padding: .4rem;
    cursor: pointer;
}
.NewsletterAdd__content__bar>button:active {
    background: var(--darkest-color);
}
