.Cart__empty {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding: .2rem 0;
    gap: 3rem;
}

@media screen and (min-width: 900px) {
    .Cart__empty {
        padding: 2rem 0;
    }
}