.Item {
    background: var(--lighter-color);
    width: 260px;
    height: 480px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.144);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.Item__imgContainer {
    height: 60%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Item__img {
    width: 100%;
    height: auto;
}

.Item__price {
    color: var(--primary-color);
    font-size: 1.7rem;
    font-weight: 400;
    margin: .5rem 0;
}
.Item > a {
    color: #000;
    text-decoration: none;
}
.Item__title {
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
    min-height: 60px;
}

.Item__Btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .4rem;
    margin-top: 1rem;
}
.Item__Btns>div button,
.Item__Btns>a button  {
    width: 109px;
}

