.SearchBar {
  display: flex;
  border: var(--primary-color) 1px solid;
  border-radius: 0.4rem;
  padding: 0.5rem;
  width: 600px;
}

.SearchBar > input {
  width: 100%;
  max-width: 550px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.SearchBar > input::placeholder {
  font-size: 1.2rem;
}

.SearchBar > input::active {
  border: none;
}

.SearchBar > button {
  padding: 0.2rem;
  font-size: 1.2rem;
  background: transparent;
  border: none;
}

.SearchBar > button:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}
