.Form {
    background: #fff;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.144) 1px 1px 6px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    max-width: 700px;
    margin: 6rem auto 2rem auto;
}

.Form h1 {
    margin-bottom: 1rem;
}

.Form div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.Form label {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.Form input {
    padding: .5rem;
    border: var(--secondary-color) solid 1px;
    border-radius: 5px;
}

.Form__submit {
    padding-top: 1rem;
}

.Form__submit button {
    width: 169px;
}

@media screen and (min-width: 1100px) {
    .Form {
        padding: 4rem 2rem;
        margin: 2rem auto;
    }
}