.SummItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.SummItem__img {
    width: 40px;
}
.SummItem__img img {
    width: 100%;
}
.SummItem__title {
    width: 340px;
}
.SummItem h3 {
    font-size: .95rem;
    font-weight: 400;
}
.SummItem p {
    font-size: .95rem;
}