li {
  list-style: none;
}

hr {
  width: 100%;
  margin: 10px 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(201, 201, 201, 0.567);
}

.mercadopagoBtn button {
  background: #762ab0;
  font-weight: 600;
  font-family: "Karla";
  width: 250px;
  height: 40px;
}
