@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

:root {
  --primary-color: #6c2f9a;
  --secondary-color: #b192c8;
  --light-color: #f5f5f5;
  --lighter-color: #fbfbfb;
  --dark-color: #2b272e;
  --darkest-color: #171717;
  --btn-color: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  background: var(--light-color);
  overflow-x: hidden;
}

.Wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto auto;
 justify-tracks: center;
  grid-column: auto;
}