@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

:root {
  --primary-color: #6c2f9a;
  --secondary-color: #b192c8;
  --light-color: #f5f5f5;
  --lighter-color: #fbfbfb;
  --dark-color: #2b272e;
  --gray-color: #ebebeb;
  --darkest-color: #171717;
  --success-color: #34a835;
  --danger-color: #ca0717;
  --warning-color: #ffba01;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  background: var(--light-color);
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
