.UserProfile {
    background: #fff;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.144) 1px 1px 6px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    max-width: 500px;
    margin: auto;
}
.UserProfile h1 {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.UserProfile__img img {
    border-radius: 20%;
}

.UserProfile h2 {
    padding: 1rem 0;
    
}
.UserProfile p {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.UserProfile svg {
    cursor: pointer;
}
.UserProfile svg:hover {
    color: var(--primary-color);
}
.UserProfile__actions {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 1rem;
}
.UserProfile__actions button:last-child {
    border-color: crimson;
    color: crimson;
}
.UserProfile__actions button:last-child:active {
    background-color: crimson;
    color: #fff;
    border: none;
}