.ItemCount {
    display: flex;
    align-items: center;
    gap: .5rem;
    user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -webkit-touch-callout: none;
}

.ItemCount__count {
    display: flex;
    align-items: center;
    border: solid 1px var(--secondary-color);
    border-radius: 5px;
    height: 40px;
}

.ItemCount__display {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 25px;
    height: 40px;
}

.ItemCount__controllers {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 38px;
}

.ItemCount__controllers > span {
    background: var(--secondary-color);
    color: #ffffff;
    padding: 0 .5rem; 
    border-bottom: 1px solid #6c2f9a3d;
}
.ItemCount__controllers > span:hover {
    background: var(--primary-color);
}
